body{
    /* background-color: blue; */
}

.loginForm{
    background-color: bisque;
    width: 400px;
    height: 400px;
    border: 1px solid;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 10px;
}

.loginForm h2{
    margin-left: 30%;
}

.loginForm label{
    
    margin-left: 20%;
    margin-bottom: 20px;
}

.loginForm input{
    height: 40px;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    outline: transparent;
    margin-left: 20%;
    margin-bottom: 20px;
    border: transparent;
}

.loginForm button {
    text-align: center;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: transparent;
    margin-left: 38%;
    cursor: pointer;
}

.loginForm p{
    font-size: small;
    margin-left: 25%;
    cursor: pointer;
}

.loginForm span{
    color: red;
    margin-left: 37%;
}