.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(60, 58, 58);
    margin-top: -16px;
    position:fixed;
    color: white;
}

.navbar h4{
    padding: 5px;
    padding-left: 20px;
}

.container {
    margin-top: -53px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    height: 50px; /* Set container height */
}

input[type="text"] {
    align-items: center;
   margin-right: 140px; 
   height: 30px;
   border-radius: 5px;
   border: transparent;
   width: 250px;

}

.container button{
    margin-right: 70px;
    height: 30px;
    width: 100px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}
